@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Libre+Caslon+Text&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#686868, #9198e5);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Poppins', serif;
    color: white;
}

body h1 {
    font-size: 5rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#search {
    font-size: 1.2em;
    border-radius: 20px;
    padding: 15px 15px 15px 35px;
    border: none;
    position: absolute;
    width: 400px;
}
#search::placeholder {
    color: rgba(148, 148, 148, 0.432);
}
#search:focus {
    outline: none;
}

#search-button {
    position: relative;
    left: 180px;
    top: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 2px;
    opacity: 80%;
}

#search-results {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 220px;
    height: 300px;
    padding: 30px;
    margin: 30px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.493);
    border-radius: 20px;
    transition: 0.2s;
}
.card:hover {
    padding: 40px;
}

.card-display {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 200px;
}

.card-display img {
    position: relative;
    border-radius: 20px;
    left: 10px;
    
}
.card-display h2 {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-left:20px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Poppins', cursive;
    font-size: 1.7em;
    text-shadow: -1px -1px 0 #585858, 1px -1px 0 #585858, -1px 1px 0 #585858, 1px 1px 0 #585858;
    line-height: 0.8;
}

#view-details {
    position: absolute;
    top: 50;
    left: 28%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    font-weight: 600;
}
#view-details:hover {
    cursor: pointer;
    opacity: 80%;
}